<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.uss.service.StudentMapper">
	<delete id="truncate" parameterType="hashmap">${TRUNCATE_STUDENTS}</delete>
	<select id="count" resultType="int">${COUNT_STUDENTS}</select>
</mapper>

